@font-face {
    font-family: "Lovelo Black";
    src: url("../fonts/LoveloBlack.otf") format("opentype");
}

body {
    padding-top: 20px;
    background-color: #666666;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
    background-color: white;
}

.backrose {
    background-color: #f1686d;
    border-radius: 50px;
    padding: 30px;
    vertical-align: top;
    box-shadow: 8px 8px 12px #aaa;
}

.backbleu {
    background-color: #01b6d9;
    border-radius: 15px;
    padding: 0 30px 30px;
    text-align: left;
    vertical-align: top;
    box-shadow: 8px 8px 12px #aaa;
}

.beaufont {
    font-family: "Lovelo Black", serif;
}

.fontgris {
    color: #999999;
}

.commanditaire {
    padding-top: 50px;
}

.espacementquestions {
    padding-top: 0px;
    padding-bottom: 20px;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input.spacing, textarea {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input.spacing, label + textarea {
    width: 30%;
    margin: 0 30% 0 4%;
}

.aligncheckbox {

}